.channel {
    margin-bottom: 2rem;
    &__input {
        margin: 1rem 0 0.5rem 0;
    }
    &__button {
        margin: 0 0 0.5rem 0;
    }
    &__link {
        margin: 0.5rem 0 0.5rem 0;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
    }
    &__img {
        height: 150px;
    }
}