.info-channel {
    background-color: rgb(19, 29, 65) !important;
    color: lightgray !important;
    padding: 1rem !important;
    border-radius: 5px;
    // border-right: solid 20px rgb(7, 12, 29);
    &:hover {
        font-weight: 700;
        background-color: rgb(247, 247, 247) !important;
        color: rgb(182, 182, 182) !important;
    }
    &__image {
        width: 50px;
        height: 50px;
        margin-right: 1rem;
    }
}