.outerChatContainer {
    display: flex;
    background-color: rgb(19, 29, 65);
    color: rgb(240, 240, 240);
    height: calc(100vh - 56px);
    width: 100%;
}

.innerChatContainer {
    background-color: rgb(240, 240, 240);
    height: calc(100vh - 56px);
    color: black;
    width: 60%;
    position: relative;
}